.pa-dashboard {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .region-header{
      border-bottom: 1px solid #34373a;
  }
  .pa-summary-value {
      font-size: 4em;
      text-align: center;
      font-weight: bold;
  }
  .pa-summary-title {
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 33px;
  }
  
  .pie-chart-value h1 {
      text-align: center;
      font-size: 3em;
  }
  
  hr {
      border-top: 1px solid #42474c !important;
  }
  
  /* Tables */
  table th {
    background-color: #2580d4;
    color: black;
  }
  
  table {
    color: #606060 !important;
    font-size: 0.9em;
  }
  
  table.dataTable tr {
    background-color: #dfdfdf;
    color: black;
  }
  
  table.dataTable tfoot {
    background-color: #606060;
  }
  
  tbody tr.odd td {
    background-color: #ececec;
    color: black;
  }
  
  tbody tr.even td {
    background-color: #dfdfdf;
    color: black;
  }
  
  tfoot{
    color: #fff !important;
  }
  
  .dt-buttons button{
    background-color: #fff !important;
  }
  
  .buttons-print {
    color:rgb(65, 132, 219) !important;
    border-color: rgb(65, 132, 219);
  }
  
  .buttons-copy {
    color:rgb(65, 132, 219) !important;
    border-color: rgb(65, 132, 219);
  }
  
  .buttons-csv {
    color:rgb(65, 132, 219) !important;
    border-color: rgb(65, 132, 219);
  }
  
  div.dataTables_wrapper {
    overflow-x: scroll !important;
  }
  
  tbody tr:hover td {
    background-color: #c3c8cc !important
  }
  